  a{
    color: white;
    text-align: left;
    font-weight: bold;
    
  }

  a:hover{
    color: white;
    opacity: 0.7;
  }

  #principal li{
    border-bottom: 1px solid black;
    padding: 110px,110px;

  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0;

  }

  html,section,body{
    height: 100%;
    padding: 0;
    background: linear-gradient(gray,white) no-repeat;

  }

  .background_titulo{
    background:linear-gradient(to left top,#7A8386,#C0C0);
  }




  .usuario{
    width: 40px;
    font-size: 2rem;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    margin-left: 50%;}

    

    .cards_config{
      width: 31%;
      padding: 0;
      margin: 10px 0px 0px 10px;
      border-style: solid;
      border-width: 5px;
      border-image:  linear-gradient(to left right,#7A8386,#C0C0) 1 ;
    }

    .btn_color{
      background: linear-gradient(to bottom right,black,white);
    }
    .btn_color:hover,.btn_sub_color:hover{
      background:rgba(0, 0, 0, 0.7);
    }
    

    .btn_sub_color{
      background: linear-gradient(90deg,black,gray);
    }
   

    .btn_click{
      background: black;
    }

    .bg_nav{
      background: linear-gradient(to top left,black,white);
    }

    .row{
      margin-right: 0;
    }

    

    @media (min-width: 800px) {
     #btn_principal{
      display: none;
    }

    #menu_principal{
      display:flex;
    }

    .cards_config{
      width: 30%;
      margin:5px auto;
    }

    



  }

  @media(min-width:576px) and (max-width:800px){
    .cards_config{
      width: 45%;

    }

    #btn_principal{
      display: none;
    }


  }


  @media (max-width: 575px) {
   #menu_principal:not(.show){
    display: none ;
  }

  section{
    padding-left: 20px;
  }

  .cards_config{
    width: 40%;
    margin:5px auto;
  }



  #btn_principal{
    display: block;

    
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0px;
    padding-left: 0px;
  }


  }

  @media (max-width:350px) {
    .cards_config{
      width: 80%;
      margin:5px auto;

      
    }
  }